<style>
    .spp {
        text-align: center !important;
        font-size: 2em;
        margin: 30px;
    }

    .verticc {
        display: flex;
        margin-top: 10%;
        align-items: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="input-group no-border verticc">
                        <input type="text" value="" class="form-control"
                            placeholder="Filter by source,card owner, status..." [(ngModel)]="searchText">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="nc-icon nc-zoom-split"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <div class="form-outline mb-4">
                    <label>Choose Date period From:</label>
                    <input type="date" class="form-control" placeholder="Enter Amount" />

                </div>
                <div class="form-outline mb-4">
                    <label>Choose Date period To:</label>
                    <input type="date" class="form-control" placeholder="Enter Amount" />

                </div>

                <button class="btn btn-info btn-block fa-lg gradient-custom-2 mb-3">

                    Filter
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header" style="display: inline-flex;
    gap: 50%;">
                <h4 class="card-title"> ALL CARD REVENUES</h4>
                <!-- <h4> TOTAL BALANCE:<span
                        style="color:brown;font-weight: 900;">£{{user_list?.transactions?.balance}}</span> </h4> -->
            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                No
                            </th>
                            
                            <th>
                                TOTAL REVENUE
                            </th>
                            <th>
                                TOTAL DISTRIBUTABLE
                            </th>
                            <th>
                                PERIOD FROM
                            </th>
                            <th>
                                PERIOD TO
                            </th>
                           

                            <th>
                                DISTRIBUTION STATUS
                            </th>

                        </thead>
                       
                        <tbody *ngFor="let item of user_list| filter:searchText; let i = index">
                            <tr>
                                <td>
                                    {{i + 1}}
                                </td>
                                

                                <td>
                                    £{{item?.total_revenue}}
                                </td>
                                <td>
                                    £{{item?.total_distributable}}
                                </td>
                                <td>
                                    {{item?.period_from | date:'medium'}}
                                </td>
                                <td>
                                    {{item?.period_to | date:'medium'}}
                                </td>
                               

                                <td *ngIf="item?.distributed != false">
                                
                                    <p style="color:rgb(3, 149, 95);font-weight: 900;">Distributed</p>
                                </td>
                                <td *ngIf="item?.distributed == false">
                                
                                    <p style="color:brown;font-weight: 900;">Not Distributed <i class="nc-icon nc-arrow text-warning"></i>
                                    </p>
                                </td>

                        
                                <td *ngIf="item?.distributed == false">
                                    <div class="update ml-auto mr-auto">
                                        <button class="btn btn-success btn-round"
                                            (click)="distribute(item.batch_id)">DISTRUBUTE</button>
                                    </div>
                                </td>

                                

                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <button class="btn btn-warning btn-round" (click)="details(item.batch_id)">DETAILS</button>
                                    </div>
                                </td>




                            </tr>

                        </tbody>
                    </table>
                </div>

                <button class="btn btn-primary btn-round" (click)="upload()">Upload Revenue</button>
            </div>
        </div>
    </div>


</div>


<app-loader *ngIf="!loading"></app-loader>