.form-control {
    height: 48px;
}

textarea.form-control {
        max-height: 300px !important;
            height: 300px;
    /* Adjust the desired height */
    width: 500px;
    /* Adjust the desired width */
}