<style>
    .spp {
        text-align: center !important;
        font-size: 2em;
        margin: 30px;
    }

    .verticc{
        display: flex;
       margin-top: 10%;
    align-items: center;
    }



    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pagination button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
    }

    .pagination button:hover {
        background-color: #f2f2f2;
    }

    .pagination span {
        margin: 0 10px;
    }

   
</style>

<div class="row">
    <div class="col-md-8">
        <form>
            <div class="input-group no-border verticc">
                <input type="text" value="" class="form-control"
                    placeholder="Filter by NARRATION, Transaction Type, status..." [(ngModel)]="searchText">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>

<div class="col-md-4">
    <div class="form-outline mb-4">
        <label>Choose Date period From:</label>
        <input type="date" [(ngModel)]="from" class="form-control" placeholder="Date From" />

    </div>
    <div class="form-outline mb-4">
        <label>Choose Date period To:</label>
        <input type="date" [(ngModel)]="to" class="form-control" placeholder="Date To" />

    </div>

    <button class="btn btn-info btn-block fa-lg gradient-custom-2 mb-3" (click)="filerDate(from,to)">

        Filter
    </button>
</div>
</div>



<div class="row">
    <div class="col-md-12">

        <!-- <div class="row">
            <div class="col-md-9">
                <form>
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control"
                            placeholder="Search by name, email, mobile number..." [(ngModel)]="searchText">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>

                    </div>
                </form>
            </div>


            <div class="col-md-3">
                <select (change)="updateSelectedItems($event.target.value)">
                    <option [(ngModel)]="searchText2" value="Card Sale" >Card Sale</option>
                    <option [(ngModel)]="searchText2" value="Card Purchase">Card Purchase
                    </option>
                </select>
               
            </div>



        </div> -->

        <div class="row">

            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-12 col-md-12">
                                <div class="numbers spp">
                                    <span
                                        style="font-weight: 600; font-size: 18px;line-height: 20px;color: #898A8D">Cards
                                        Transacted
                                    </span>
                                   

                                    <p class="card-title">{{user_list?.counts?.cards_transacted}}
                                    <p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-12 col-md-12">
                                <div class="numbers spp">
                                    <span style="font-weight: 600; font-size: 18px;line-height: 20px;color: #898A8D">
                                        Transacted Value
                                    </span>
                                

                                    <p class="card-title">£{{user_list?.counts?.cards_transacted_value}}
                                    <p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-12 col-md-12">
                                <div class="numbers spp">
                                    <span
                                        style="font-weight: 600; font-size: 18px;line-height: 20px;color: #898A8D">TOTAL
                                        SONGS
                                    </span>
                                    

                                    <p class="card-title">{{user_list?.counts?.songs}}
                                    <p>
                                     
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-12 col-md-12">
                                <div class="numbers spp">
                                    <span
                                        style="font-weight: 600; font-size: 18px;line-height: 20px;color: #898A8D">CARDS
                                    </span>
                                   

                                    <p class="card-title">{{user_list?.counts?.cards}}
                                    <p>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
        <div class="card">
            <div class="card-header" style="display: inline-flex;
    gap: 50%;">
                <h4 class="card-title">ALL TRANSACTIONS</h4>
              <h4> TOTAL BALANCE:<span
                        style="color:brown;font-weight: 900;">£{{user_list?.transactions?.balance}}</span> </h4> 
            </div>


            <div class="card-body">

              


                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                No
                            </th>
                            <!-- <th>
                                IMAGE
                            </th> -->
                            <th (click)="sort('owner.full_name')">
                                NAME OF USER
                            </th>
                            
                            <th (click)="sort('amount')">
                                AMOUNT
                            </th>
                            <th>
                                NARRATION
                            </th>
                            <th (click)="sort('transaction_type')">
                                TRANSACTION TYPE
                            </th>


                            <th (click)="sort('created_at')">
                                TRANSACTION DATE
                            </th>

                        </thead>
                    <!-- <tbody *ngFor="let item of user_list?.transactions?.details?.data | filter:searchText; let i = index"> -->
                        <tbody *ngFor="let item of user_list?.transactions?.details?.data | orderBy: sortKey: sortDirection | filter:searchText; let i = index">
                       
                     
                            <tr>
                                <td>
                                    {{i + 1}}
                                </td>
                                <!-- <td *ngIf="item.card?.cover_art_url">
                                    <img class="avatar border-gray" src="{{item?.card?.cover_art_url}}" alt="">

                                </td>

                                <td *ngIf="!item.card?.cover_art_url">

                                    <img class="avatar border-gray" src="assets/img/show.jpeg" alt=""
                                        (click)="details(item)">

                                </td> -->
                                <td>
                                    {{item?.owner?.full_name}}
                                </td>
                              
                                <td>
                                    £{{item?.amount}}
                                </td>
                                <td>
                                    {{item?.narration}}
                                </td>

                                <td *ngIf="item?.transaction_type == 'credit'">

                                    <p style="color:rgb(3, 149, 95);font-weight: 900;">{{item?.transaction_type}}</p>
                                </td>
                                <td *ngIf="item?.transaction_type == 'debit'">

                                    <p style="color:brown;font-weight: 900;">{{item?.transaction_type}} <i
                                            class="nc-icon nc-arrow text-warning"></i></p>
                                </td>


                                <td>
                                    {{item?.created_at | date:'medium'}}
                                </td>


                                <td>
                                    <p style="color:rgb(36, 165, 11);font-weight: 900;">{{item?.status}}</p>
                                </td> 
                               




                            </tr>

                        </tbody> 
                    </table>
                </div>

                <div class="pagination">
                    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                    <span>{{ currentPage }} / {{ last_page }}</span>
                    <button (click)="nextPage()" [disabled]="currentPage === last_page">Next</button>
                </div>
            </div>
        </div>
    </div>


</div>


<app-loader *ngIf="!loading"></app-loader>